#boton{
    align-items: flex-end;
    justify-content: end;
    text-align: end;
    padding:1%
}
#datepicker{
    border-style: none;
    background-color:blueviolet;
}
.react-date-picker-wrapper input[type="date"]{
    border: none;
}